# Get your keys from:
# Groq:        https://console.groq.com/keys
# HuggingFace: https://huggingface.co/settings/tokens
# Pinecone:    https://app.pinecone.io
# LangChain:   https://smith.langchain.com/settings

GROQ_API_KEY = "your_groq_api_key_here"
GROQ_MODEL = "llama-3.3-70b-versatile"
HUGGINGFACE_API_KEY = "your_huggingface_api_key_here"
PINECONE_API_KEY = "your_pinecone_api_key_here"
PINECONE_INDEX_NAME = "rag1"
LANGCHAIN_API_KEY = "your_langchain_api_key_here"
LANGCHAIN_TRACING_V2 = "false"
LANGCHAIN_PROJECT = "local-rag"
LANGCHAIN_ENDPOINT = "https://api.smith.langchain.com"
